@import url(./style.css);

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
    color: #eee;
    background: #111;
}

.footer h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.footer p{
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}
.footer a{
    font-size: 1.5rem;
    margin-right: 1.5rem;
    padding: .5rem .8rem;
    border-radius: 50%;
    color: #eee;
    transition: .3s;
}
.footer a:hover{
    box-shadow: 0 0 10px #eee;
}

/* FOOTER MEDIA RESPONSIVE */
@media (max-width: 800px){
    .footer{
        flex-direction: column;
    }
    .footer .contacts{
        margin-bottom: 2rem;
    }
    .footer h3{
        font-size: 2rem;
    }
    .footer p{
        font-size: 1.2rem;
        text-align: center;
    }
    .footer a{
        font-size: 1.2rem;
    }
}
