@import url(./style.css);

/* HERO SECTION START */
.hero-section{
    width: 100%;
    padding: 2rem 13rem;
}
.hero-section .upper-part{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.hero-section .upper-part h1{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
}
.hero-section .upper-part h2{
    font-weight: 600;
    text-align: center;
}
/* HERO SECTION END */


/* ABOUT SECTION START */
.about-section{
    width: 100%;
    padding: 1.5rem 5%;
}
.about-section img{
    display: block;
    max-width: 100%;
    border-radius: 5px;
}
.about-section p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.about-section .div{
    display: flex;
    gap: 5rem;
    margin-bottom: 5rem;
}
/* ABOUT SECTION END */


/* HERO SECTION MEDIA RESPONSIVE START */
@media (max-width: 800px){
    .hero-section{
        height: 90vh;
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-section .upper-part{
        flex-direction: column;
    }
}

@media (max-width: 400px){
    .hero-section{
        padding: 2rem 1rem;
    }
}
/* HERO SECTION MEDIA RESPONSIVE END */


/* ABOUT SECTION MEDIA RESPONSIVE START */
@media (max-width: 1200px){
    .hero-section .upper-part{
        justify-content: center;
    }
    .about-section .div:nth-child(odd){
        flex-direction: column;
        align-items: center;
    }
    .about-section .div:nth-child(even){
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 800px){
    .about-section{
        padding: 1rem 5%;
    }
    .about-section img{
        width: 100%;
    }
    .about-section p{
        font-size: 1.5rem;
        margin-bottom: 1.1rem;
    }
    .about-section .div{
        margin-bottom: 1.5rem;
    }
}
/* ABOUT SECTION MEDIA RESPONSIVE END */