@import url(./style.css);

/* CALENDAR TABLE START */
.calendar-container {
    max-width: 100%;
    margin: auto;
    padding: 2rem 13rem;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.calendar-header h2{
    font-weight: 500;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 5px;
    font-size: 2rem;
    border-radius: 5px;
}

.weekdays div {
    width: calc(100% / 7);
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days div {
    text-align: center;
    margin: 5px 0 .5px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.days div:hover {
    /* background-color: #71bdf3; */
    background-color: #f0f0f0;
}
